body {
    background: #1f1e1e; /*hintergrund farbe vom body*/
}

.heading {
     font-family: "Isometra", serif;
     font-size: 300%; /*schrift grose*/
     color: rgba(255, 255, 255, 0.863); /*text farbe*/
     text-align: center; /*text mitte*/
}

.heading-text {
    color: white; /*text farbe*/
    text-align: center; /*text mitte*/
    font-family: "Isometra", serif;
}

.rules-icon {
   height: 37px; /*grose 37px*/
 transform: translateY(67px); /*damit das icon in der mitte bleibt*/
 margin-left: 25%; /*rand links 25* nach links*/
}

.rules {
  background-color: #7777778e; /*hintergrund farbe*/
  border-radius: 20px; /*umrandung 20px*/
  padding: 20px 20px; /*karten breite*/
  margin: 100px auto; /*karten mitte*/
  width: min(700px, 100%); /*breite 700px und 100%*/
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.rules-text {
    font-family: "Isometra", serif;
    color: white;
}

.Ask-Hub {
    background: linear-gradient(135deg, rgba(128, 128, 128, 0.74), #1e1e1e); /*hintergrund farbe*/
   box-shadow:
    -0.15em -0.15em 0.15em -0.075em rgba(156, 154, 154, 0.25), /*hintergrund schatten*/
    0.15em 0.15em 0.15em -0.075em rgba(156, 154, 154, 0.25);
  color: rgba(255, 255, 255, 0.589); /*text farbe*/
  border: none; /*kein rand*/
  border-radius: 20px; /*runder button*/
  padding: 10px 20px; /*abstand innerhalb des buttons*/
  margin: 0 10px; /*abstand zwischen den buttons*/
  cursor: pointer;
  transition: transform 0.2s ease; /*animation*/
  margin-left: 46%;
}

.Ask-Hub:hover {
 transform: scale(1.1) translateY(-10px); /*animation*/
}


a {
color: white;
text-decoration: none;
}
