body {
    background: #1f1e1e; /*hintergrund farbe vom body*/
}

.header {
     background: #1f1e1e; /*hintergrund farbe vom body*/
    position: fixed; /*position fixieren*/
    top: 0%; /*unten 0 damit das an der ecke bleibt*/
    left: 0%; /*damit der rand 0 nach links geht das es immer am rand bleibt*/
   width: 100%; /*breite 100 damit das ganze obere feld mit der header ist*/
   height: 9%; /*grose 9% nach unten*/
   border-bottom: solid black;
   z-index: 1000; /*sorgt dass das askhub bild unter den header scrollt*/
}

.footer {
    background: #1f1e1e; /*hintergrund farbe*/
    position: fixed; /*position fixiert am platz*/
    bottom: 0; /*unten 0%*/
    left: 0; /*links */
    width: 100%; /*volle breite*/
    height: 3%; /*greose 3%*/
    border-top: solid black;
    z-index: 1000;
}

.mini-header {
    background-color: gray;
   width: 100%; /*breite 100 damit das ganze obere feld mit der header ist*/
}

.logo {
  width: 160px; /*breite 160px*/
  position: absolute; /*position absolute*/
  top: 10px; /*mitte des logos 10px*/
}


.heading {
    color: rgb(255, 255, 255); /*farbe weis*/
    text-align: center; /*text mitte*/
    padding: 30%; /*abstand 30 px nach unten */
    font-family: "Yuyu", sans-serif;
}



.main-image {
    width: 35%; /*breite 35px*/ 
    position: absolute; /*position absolute*/
    top: 33%; /*mitte 33%*/
    right: 35%; /*rechts mitte 35%*/
}




